<div id="contact">
  <h1> Location: Beaverton Hillsdale </h1>

  <h2> Phone: <strong> 5336 SW Beaverton Hillsdale Hwy, Portland, OR 97221</strong></h2>

  <h2> Customer Service: <strong>(866) 498-7882 </strong></h2>
</div>

<br>

<div id="contact">
  <h1> Location: Cedar Hills </h1>

  <h2> Address: <strong> 3200 SW Hocken Ave, Beaverton, OR 97005</strong></h2>

  <h2> Phone: <strong>(866) 498-7882 </strong></h2>
</div>

<br>

<div id="contact">
  <h1> Location: Downtown (Portland) </h1>

  <h2> Address: <strong> 400 SW 6th Ave #800, Portland, OR 97204 </strong></h2>

  <h2> Phone: <strong>(866) 498-7882 </strong></h2>
</div>

<br>


<div id="contact">
  <h1> Location: Seattle </h1>

  <h2> Address: <strong> 1201 3rd Ave #1660, Seattle, WA 98101 </strong></h2>

  <h2> Phone: <strong>(866) 498-7882 </strong></h2>
</div>
