<h1>Games up for sale: </h1>

<div class="container">
  <div *ngFor="let game of games | async">
      <h1><strong>Owner: </strong> {{game.owner}}</h1>
      <div class="card-body bg-light">
<br>
        <h2>Title: <strong>{{game.title}}</strong></h2>
<br>
        <h2>Price: <strong>${{game.price}}</strong></h2>
<br>
        <h2>System: <strong>{{game.system}}</strong></h2>
<br>
        <app-remove-game [gameKey]="game"></app-remove-game>

        <button type="button" class="btn btn-success" name="button" (click)="details(game)">More Details</button>
      </div>
  </div>
</div>
<app-add-game></app-add-game>
