h1 {
  text-align: center;
  padding: 40px 0;
  border-bottom: 2px solid #eee;
  background: #1C1C1C;
  color: white;
  text shadow: 0 0 11px white;
  font-weight: bold
}

* {
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.clear:after {
  content: '';
  display: block;
  clear: both;

}

.movieItem {
  font-size: 20px;
  width: 33%;
  float: left;
  text-align: center;
  cursor: pointer;
  height: 400px;
  margin: 5px;
  background-size: auto 100% !important;
  position: relative;

}

.movieName  {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.76);
  text-align: center;
  color: white;
  padding: 10px 0;
}


.container {
  width: 960px;
  margin: 0 auto;
  /* background-image: url('https://i.imgur.com/31I0cA0.png'); */
}

.The-King-of-Codes {
  background: url('https://i.imgur.com/yGSYvOa.jpg');
}

.Harry-Potter {
  background: url('https://i.imgur.com/a44Bh8r.jpg');
}

.Test {
  background: url('https://i.imgur.com/DvgrUEl.jpg');
}

.clap {
  background: url('https://i.imgur.com/ccM432C.jpg');
}

.Hannah-Montana {
  background: url('https://i.imgur.com/ytcV0UE.jpg') no-repeat;
}
