<!-- <!DOCTYPE html>
<html>
<head>
</head>
<body>

<p>An address element is displayed like this:</p>

<address>
Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
Visit us at:<br>
Example.com<br>
Box 564, Disneyland<br>
USA
</address>

<p>Change the default CSS settings to see the effect.</p>

</body>
</html> -->


<h1> Hollywood Video Contact Information </h1>

<p> Address: <strong> 5336 SW Beaverton Hillsdale Hwy, Portland, OR 97221</strong></p>

<p> Customer Service: <strong>(866) 498-7882 </strong></p>
