<button (click)="toggleDisplay()" type="button" name="button" class="btn">Add a game</button>

<div *ngIf="toggle">
	<div class="container">
  <h1>Add a game</h1>
  <form>
    <label for="Owner">Owner Name : </label>
      <input type="text"  name="Owner" placeholder='Billy Bob' #owner>
    <label for="Title">Title : </label>
      <input type="text" name="Title" placeholder='Final Fantasy' #title>
    <label for="Price">Price : </label>
        <input type="text" name="Price" placeholder='$30'  #price>
    <label for="System">System : </label>
        <input type="text" name="System" placeholder='PS4, XBOX, Wii, PC' #system>
    <label for="Description">Description : </label>
        <input type="text" id="desc" name="Description" placeholder='Describe what your selling (Imgur links are accepted)' #description>
        <button  class="btn btn-info" name="Add a Property"(click)="addListing(owner.value,title.value,price.value,system.value,description.value); owner.value = ''; title.value = ''; price.value = ''; system.value = ''; description.value = '';">Sell Game</button>
        <button type="button" class="btn btn-danger ml-2" name="Close" (click)="toggleDisplay()">Cancel</button>
  </form>
  </div>
</div>
