h1 {
  text-align: center;
  padding: 40px 0;
  border-bottom: 2px solid #eee;
  background: #1C1C1C;
  color: white;
  text shadow: 0 0 11px white;
  font-weight: bold
}

* {
  margin: 0;
  padding: 0;
}


body {
  display: block;
}

h3 {
  font-weight: bold
}

.movieItem {
  font-size: 50px;

}


.container {
  width: 960px;
  margin: 0 auto;
}
