<!--
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="nav navbar-nav navbar-right" routerLink="">HOME</a>
    </div>
      <div class="navbar-header">
          <a class="nav navbar-right" routerLink="about">STORE</a>
      </div> -->


  <div class="topnav" id="myTopnav">
    Recently Added: {{recentMovie}}
    <a routerLink="">HOME</a>
    <a routerLink="movie">STORE</a>

  <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> -->
  </div>


  <!-- </div> -->



  <!-- <h1>{{title}}</h1> -->
  <router-outlet></router-outlet>
