<!--
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="nav navbar-nav navbar-right" routerLink="">HOME</a>
    </div>
      <div class="navbar-header">
          <a class="nav navbar-right" routerLink="about">STORE</a>
      </div> -->

      <!-- <a class="nav navbar-nav navbar-right" routerLink="">HOME</a> -->

 <div class="container teal borderYtoX">
    <a routerLink="">Home</a>
    <a routerLink="movie">Store</a>
    <a routerLink="contact">Contact</a>
    <a routerLink="gamecrazy">Game Crazy</a>
</div>

<!--
<div class="container teal borderYtoX">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>
 -->




  <!-- <h1>{{title}}</h1> -->
  <router-outlet></router-outlet>
