<!--
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="nav navbar-nav navbar-right" routerLink="">HOME</a>
    </div>
      <div class="navbar-header">
          <a class="nav navbar-right" routerLink="about">STORE</a>
      </div> -->

      <!-- <a class="nav navbar-nav navbar-right" routerLink="">HOME</a> -->

  <div class="topnav" id="myTopnav">
    <a routerLink="">Home</a>
    <a routerLink="movie">Store</a>
    <a routerLink="contact">Contact</a>
    <a routerLink="gamecrazy">Game Crazy</a>
  </div>

  <!-- Make a Game Crazy page with two buttons in center of page with BUY OR SELL GAMES -->





  <!-- <h1>{{title}}</h1> -->
  <router-outlet></router-outlet>
