<div class="container">
  <h3>GET THESE EXCLUSIVE MOVIES BEFORE WE GO BANKRUPT:</h3>
    <div id="myMovieList" class="clear">
      <div *ngFor="let movie of featured" class="movieItem {{movie.split(' ').join('')}}" (click)="selectedMovie(movie)"><span class="movieName">{{movie}}</span></div>
    </div>

<br>

   <h3>DONT FORGET THESE CLASSICS :</h3>
      <div id="myMovieList" class="clear">
        <div *ngFor="let movie of onsale" class="movieItem {{movie.split(' ').join('')}}" (click)="selectedMovie(movie)"><span class="movieName">{{movie}}</span></div>
      </div>
<br>

      <h3>FOR A RAINY DAY : </h3>
      <p> Sorry all sold out </p>
<br>

    <h3>THESE GUYS ARE UNDER $5 EACH : </h3>
       <div id="myMovieList" class="clear">
         <div *ngFor="let movie of under10" class="movieItem {{movie.split(' ').join('')}}" (click)="selectedMovie(movie)"><span class="movieName">{{movie}}</span></div>
       </div>
<br>



  <div id="cart">
    <h3>Cart:</h3>
      <input type="button" value="REMOVE ALL" onClick="window.location.reload()">
    <h2>Recently Added: {{recentMovie}}</h2>
      <ul>
        <li *ngFor="let movie of cart">{{movie}}</li>
      </ul>
  </div>
</div>
